@inject NavigationManager UriHelper

<div class="individual-restaurant-container">
    <a href="/restaurant/@Restaurant.ID">
        @if (!string.IsNullOrEmpty(@Restaurant.featured_image))
        {
            <img src="@Restaurant.featured_image" class="restaurant-thumb img-fluid rounded" alt="thumb" />
        }
        else
        {
            <img src="/defaultIMG.png" class="restaurant-thumb img-fluid rounded" alt="thumb" />
        }

    </a>
    <p>@Restaurant.Name </p>
    <div>
        <button class="btn btn-block btn-warning" @onclick="Navigate">Detail</button>

    </div>
</div>

@code {
    [Parameter] public Restaurant Restaurant { get; set; }
    [Parameter] public EventCallback<Restaurant> DetailRestaurant { get; set; }
    [Parameter] public string sourceurl { get; set; }

    void Navigate()
    {
        if (string.IsNullOrEmpty(sourceurl))
            UriHelper.NavigateTo($"/restaurant/{Restaurant.ID}");
        else
            UriHelper.NavigateTo($"/restaurant/{sourceurl}/{Restaurant.ID}");
    }
}
