<div class="individual-restaurant-container">
    <a href="/restaurant/@Restaurant.ID">
        @if (!string.IsNullOrEmpty(@Restaurant.featured_image))
        {
            <img src="@Restaurant.featured_image" class="restaurant-thumb img-fluid rounded" alt="thumb" />
        }
        else
        {
            <img src="/defaultIMG.png" class="restaurant-thumb img-fluid rounded" alt="thumb" />
        }

    </a>
    <p>@Restaurant.Name </p>
    <div>
        <a class="btn btn-block btn-warning" href="/restaurant/@Restaurant.ID">Detail</a>
    </div>
</div>

@code {
    [Parameter] public Restaurant Restaurant { get; set; }
    [Parameter] public EventCallback<Restaurant> DetailRestaurant { get; set; }
}
